<!--@author Lemara Ali-->
<div class="container">
    <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
        <h4 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Customer's Reviews</h4>
    </div>
    <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
        <li>
          <img src="/assets/Images/icons8-person-64.png" class="wpx-100 img-round mgb-20" >
          <p class="fs-110 font-cond-l" contenteditable="false">"Fantastic food with fresh ingredients and a cozy atmosphere. The service was quick, and the desserts were amazing!"</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Leen Barakeh</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="fal
          se">Tulkarem - Tulkarem</small>
        </li>
        <li>
          <img src="/assets/Images/icons8-person-64.png" class="wpx-100 img-round mgb-20" >
          <p class="fs-110 font-cond-l" contenteditable="false">"Great dining experience! The presentation was impressive. Friendly staff made the evening enjoyable."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">SHahed AlHasan</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Nablus - Balata al balad</small>
        </li>
        <li>
          <img src="/assets/Images/icons8-person-64.png" class="wpx-100 img-round mgb-20" >
          <p class="fs-110 font-cond-l" contenteditable="false">"Delicious meals in a warm setting. The ambiance was perfect for a relaxed dinner, and the service was top-notch."</p>
          <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Ratan Ali</h5>
          <small class="font-cond case-u lts-sm fs-80 fg-text-l" contenteditable="false">Tulkarem - Anabta</small>
        </li>
      </ul>
</div>