<!-- contact-list-item.component.html -->
<!-- <tr>
    <th scope="row" class="ps-4">
        <div class="form-check font-size-16">
            <input type="checkbox" class="form-check-input" id="contacusercheck1" />
            <label class="form-check-label" for="contacusercheck1"></label>
        </div>
    </th>
    <td>
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar-sm rounded-circle me-2" />
        <a href="#" class="text-body">Simon Ryles</a>
    </td>
    <td>
        <span class="badge badge-soft-success mb-0">Full Stack Developer</span>
    </td>
    <td>SimonRyles@minible.com</td>
    <td>125</td>
    <td>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary">
                    <i class="bx bx-pencil font-size-18"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger">
                    <i class="bx bx-trash-alt font-size-18"></i>
                </a>
            </li>
            <li class="list-inline-item dropdown">
                <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </td>
</tr> -->


<div class="order-block col col-xs-11 ">
    <div class="col col-sm-3">
        <p> {{order.id}}</p>
    </div>
    <div  class="col col-sm-3">
        <p> 7</p>
    </div>
    <div  class="col col-sm-3">
        <div class="btn btn-outline-success status">{{order.status}}
        </div>

    </div>
    <div  class="col col-sm-3">
        <button class="btn btn-outline-secondary">Order's Items</button>
    </div>
  </div>