* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
  background-position: center;
  background-size: cover; 
  height: 650px;
  background-color: #FEAA1F;
}


.second{
  width: 100%;
  background-position: center;
  background-size: cover; 
  height: 650px;
  background-color: #605043;
  
}
.third{
  width: 100%;
  background-position: center;
  background-size: cover; 
  height: 650px;
  background-color: #435560;
}
.fourth{
  width: 100%;
  background-position: center;
  background-size: cover; 
  height: 650px;
  background-color: #43604c;
}
.footer{
  width: 100%;
  background-position: center;
  background-size: cover; 
  height: 200px;
  background-color: #604354;
}