

<section class="order-list-page">
    <!-- <app-order-details-card></app-order-details-card> -->
    <div class="col col-sm-12 ">
        <div class="col col-sm-4 container">
            <h5 class="card-title">Orders List <span class="text-muted fw-normal ms-2">(834)</span></h5>
        </div>

        <hr>
        <div class="container col col-sm-11">
          <!-- <app-order-details-item [item]="item"></app-order-details-item> -->
           <app-list-head></app-list-head>
           <hr>
           <div *ngFor="let order of orders">
                <app-order-info [order]="order"></app-order-info>
            
           </div>
        </div>
        

    </div>
</section>
  