<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Reservation #{{ reservation.id }}</h5>
    <p class="card-text">Date: {{ reservation.date }}</p>
    <p class="card-text">Time: {{ reservation.start_time }}</p>
    <p class="card-text">Table ID: {{ reservation.table_Id }}</p>
    <p class="card-text">Status: {{ reservation.status | statusToString }}</p>

    <button
      *ngIf="reservation.status === ReservationStatus.Pending"
      class="btn btn-danger"
      (click)="cancelReservation()"
    >
      Cancel
    </button>
    <button
      *ngIf="reservation.status === ReservationStatus.Started"
      class="btn btn-primary"
      (click)="order()"
    >
      Order
    </button>
    <button
      *ngIf="
        reservation.status === ReservationStatus.Started ||
        reservation.status === ReservationStatus.Completed
      "
      class="btn btn-secondary"
      (click)="viewOrders()"
    >
      View Orders
    </button>
  </div>
</div>
